.layout{
    width: 100%;
}

.layout-header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    background: black;
    color: snow;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1rem;
}

a{
    text-decoration: none;
    color: snow;
}

.active{
    color: red;
    text-decoration: none;
}

.outlet{
    width: 95%;
    margin: 0 auto;
    min-height: 50rem;
}