.movieCard {
    justify-content: space-around;
    padding: 0 1rem;
    box-sizing: border-box;
    margin-bottom: 0.5rem;
    background-color: var(--color-background-100);
    cursor: pointer;
}

.movieCard-img-block {
    width: 30%;
}

img {
    width: 60%;
    aspect-ratio: 1;
}

.movieCard-info-block {
    width: 70%;
}

p {
    margin: 0;
}