.wrap {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

h1 {
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: underline;
    text-transform: uppercase;
}

.ul {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.ul > li {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    color: midnightblue;
    font-style: italic;
}

.ul > li > p {
    margin: 0;
}


.ul > p {
    text-transform: uppercase;
    color: red;
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 0;
}

.span {
    width:20%;
    color: black;
    font-style: normal;
}

