.header {
    width: 100%;
    background: gainsboro;
    padding: 0.5rem;
    display: flex;
    justify-content: end;
    align-items: center;
}

.btn-block {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 1rem;
}

.btn-block > button{
    width: 50%;
    padding: 0.3rem;
    background: blue;
    color: snow;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0.5rem;
}