.box {
    width: 100%;
    height: 100vh;
    border-radius: 0.5rem;
    padding: 0.5rem;
    box-sizing: border-box;
    /*overflow: scroll;*/
    /*position: relative;*/
}

.btn-toggle {
    position: relative;
    top: 0.3rem;
    right: -93%;
    height: 2rem;
    aspect-ratio: 1;
    border-radius: 50%;
    border: none;
    margin: 0 0 0.5rem 0;
    background-color: var(--color-background-900);
    color: var(--color-text);
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
    z-index: 999;
}