.movieList-btn{
    width: 30%;
    justify-content: space-between;
    padding: 0.5rem;
    font-weight: bold;
    font-size: 1.1rem;
    text-transform: uppercase;
    background-color: var(--color-primary);
    color: var(--color-text);
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    margin: 2rem;
}