.friend {
    justify-content: space-around;
    margin: 0 0 1rem 0;
}

.friend-block-info{
    justify-content: start;
}

.green {
    color: #66a80f;
}

.red {
    color: #e03131;
}

img{
    border-radius: 50%;
}

