:root {

}

body {
    margin: 0;
    box-sizing: border-box;
}

a{
    color: snow;
    text-decoration: none;
}

ul {
    list-style: none;
}

.active {
    color: red;
    font-style: italic;
    text-decoration: underline;
}









